<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="log" fileName="${sys:executionTimeLogPath}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <logger name="org.apache.flink.runtime.executiongraph.ExecutionGraph" level="INFO">
            <AppenderRef ref="log"/>
        </logger>
    </Loggers>
</Configuration>